{% extends 'base.html' %}

{% block title %}
  Pagina de Registro
{% endblock %}

{% block content %}
  <body class="text-center">
    <div class="container">
      <form method="POST" class="form-register" style="color: aliceblue;">
        <img 
          class="mb-4 h-25 w-25 mt-3" 
          src="https://cdn.icon-icons.com/icons2/1526/PNG/512/screencart_106583.png" 
          alt="icono del website"
        >
        <h1 class="h3 mb-3 font-weight-normal">
          Por favor crear una cuenta
        </h1>
        <br />
        {{ form.usuario.label() }}
        {{ form.usuario(class="form-control", placeholder="Nombre de Usuario") }}
        {{ form.email.label(class="mt-2") }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {{ form.password1.label(class="mt-2") }}
        {{ form.password1(class="form-control", placeholder="Password") }}
        {{ form.password2.label(class="mt-2") }}
        {{ form.password2(class="form-control", placeholder="Confirmar Password") }}
        <br />
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
    </div>
  </body>
{% endblock %}